/* #content {
  Entry Point
} */

.rental-cards-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  grid-gap: 1rem;
  justify-content: space-between;
}

/******HEADER SECTION******/
nav{
  background-color: #06514c;
  height: 10vh;
}

.navbar>.container-fluid>img{
  width: 15vw;
  height: 8vh;
  position: relative;
}

.navbar ul{
  position: absolute;
  right: 0;
}

.navbar ul li{
  padding-right: 3vw;
}

.navbar ul li a{
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s;
  opacity: 0.8;
  cursor: pointer;
}

.navbar ul li a:hover{
  opacity: 1;
}
/*************************/

/******Inventory Page******/


#productTbl{height: 12vh;}

#livesearch{
  width: 20vw;
  border: 2px solid #ccc;
}

#productsInventory{
  position: relative;
  top: 10vh;
}

.inventory-search-wrapper {
  width: fit-content;
}

/*************************/


/*******Backend login********/
#backendLogin{
  background: url(../img/kitchenHP.jpg) no-repeat;
  background-size: 100vw 100vh;
}

#titleCF h2, #titleCS h2{
  position: relative;
  text-shadow: 2px 2px 5px #4c4547;
}

#titleCF{
  width: 40vw;
  background-color: #4c4547aa;
  position: relative;
  left:12vw;
  top:35vh;
}

#titleCS{
  width: 30vw;
  background-color: #4c4547aa;
  position: relative;
  left:12vw;
  top:35vh;
}

#noLogIn{
  position: relative;
  top: 32vh;
  left: 5vw;
  width: 30vw;
  border-radius: 0;
}

#formEmployees{
    background-color: #fffc;
    width: 30vw;
    height: 70vh;
    position: relative;
    top: 15vh;
    left: 8vw;
}

#formEmployees img{
  width: 30vw;
  position: relative;
  top: 3vh;
}

#formEmployees input[type="text"],input[type="password"]{
  width: 80%;
  position: relative;
  left: 10%;
}

.form-outline label{
  margin-left: 3rem;
}

  #formEmployees button{
    width: 50%;
    position: relative;
    left: 25%;
  }

/****************************/


[id$='-section'] {
    background-repeat: no-repeat;
    background-size: 250%;
    transition: all 1.5s;
}

[id$='-section'] a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #198754;
    text-decoration: none;
}

[id$='-section'] a h1 {
    font-size: 4rem;
    transition: font-size 0.5s;
    text-shadow: 1px 1px 5px #ccc;
}


#clients-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url("../img/6-CTM-Technic.jpg");
}

#inventory-section {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url("../img/best-kitchen-tools.jpg");
}

#rental-section {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url("../img/handshake.jpg");
}

.rental-alert {
  --bs-table-bg: #eed202;
  --bs-table-hover-bg: #eed202;
  position: relative;
}
.rental-alert::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f071';
  color: #eed202;
  position: absolute;
  font-size: 2rem;
  right: -50px;
}

.issueDiv {
  position: absolute;
  color: #222;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
  background: yellow;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #222;
  padding: 0.25rem 0.5rem;
}

/**** SINGLE RENTAL ***/
.colsRental {
  gap: 1rem;
}
.colsRental a, .colsRental a:visited {
  color: black;
  text-decoration: none;
  text-align: center;
}
.colsRental .img-thumbnail {
  max-height: 25vh;
  display: block;
  margin: auto;
  height: 100%;
  object-fit: cover;
}
.colsRental .prod-img-thumbnail {
  height: 100%;
  object-fit: cover;
}

.colsRental .client-wrapper {
  width: fit-content;
  display: block;
  margin: auto;
}
.thumbnail-wrapper {
  width: 100%;
  margin: 1rem 0;
}
.prod-thumbnail-wrapper {
  height: 60%;
  width: 100%;
  margin: 1rem 0;
}
.card {
  padding: 0;
}


table {
    text-align: center;
}

.rental-list-item {
    width: 40%;
}

.rental-list-group {
    margin-left: 3em;
}

.btn-add-record {
    z-index: 1;
    position: fixed;
    color: white;
    right: 1rem;
    bottom: 1rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #06514c;
    border-color: #06514c;
}

.btn-add-record:hover, .btn-add-record:active, .btn-add-record:focus {
  background-color: #06514c;
  border-color: #06514c;
}

.btn-close-rental {
  z-index: 1;
  position: fixed;
  color: white;
  right: 1rem;
  bottom: 1rem;
  border-radius: 20px;
  font-weight: bold;
  background-color: #BF0603;
  border-color: #BF0603;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

.btn-close-rental:hover, .btn-close-rental:active, .btn-close-rental:focus {
  background-color: #BF0603;
  border-color: #BF0603;
}

.btn-close-rental-modal {
  background-color: #BF0603;
  border-color: #BF0603;
}

.btn-close-rental-modal:hover, .btn-close-rental-modal:active, .btn-close-rental-modal:focus {
  background-color: #BF0603;
  border-color: #BF0603;
}

.btn-add-product {
  background-color: #06514c;
  color: white;
  border-color: white;
  margin-top: 0.25rem;
}
.btn-add-multiplier {
  background-color: #352208;
  color: white;
  border-color: white;
  margin-top: 0.25rem;
}

.date-picker {
  margin-top: 0.5rem;
  background: url(/img/schedule-calendar.png);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 98%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #backendLogin{
    background-size: 180vh;
    background-position: -100vw 0;
  }

  #titleCF{
    width: 80vw;
    left:10vw;
    top:5vh;
  }

  #titleCS{
    width: 50vw;
    left:25vw;
    top:5vh;
  }

  #formEmployees{
      width: 90vw;
      top: 5vh;
      left: 2vw;
  }

  #formEmployees img{
    width: 80vw;
  }
  [id$='-section'] {
      height: 33.33vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #backendLogin{
    background-size: 100vw 100vh;
    background-position: 0 0;
  }

  #titleCF{
    width: 80vw;
    left:10vw;
    top:5vh;
  }

  #titleCS{
    width: 50vw;
    left:25vw;
    top:5vh;
  }

  #formEmployees{
      width: 90vw;
      top: 5vh;
      left: 2vw;
  }

  #formEmployees img{
    width: 80vw;
  }
  [id$='-section'] {
      height: 33.33vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #backendLogin{
    width: auto;
    background-size: 100vw 100vh;
    background-position: 0 0;
  }

  #titleCF{
    width: 40vw;
    left:5vw;
    top:30vh;
  }

  #titleCS{
    width: 30vw;
    left:5vw;
    top:30vh;
  }

  #formEmployees{
      width: 35vw;
      top: 15vh;
      left: 2vw;
  }

  #formEmployees img{
    width: 30vw;
  }

  #formEmployees h3{
    padding-bottom:0 !important;
    margin-top: 0 !important;
  }

  [id$='-section'] {
      background-size: 300%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  [id$='-section'] {
    height: 100vh;
      background-size: 250%;
  }
}
