.CartPage{
  background-color:#222;
  width: 100vw;
  min-height: 100vh;
}

.cartSection{
  width: 100vw;
  min-height: 87vh;
  position: absolute;
  top:13vh;
  text-align: center;
}

.cartSection h1{
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  color:#fff;
  margin-top: 5vh;
}

.cartSection h2{
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  color: #222;
  position: relative;
  top: 0vh;
}

.total-price-wrapper h2{
  color:#fff;
}

.cartSection .itemTitle{
  color: #222;
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  position: relative;
  top: 1vh;
}

.emptyCartBtn {
  position: relative;
  top: 30vh;
  width: 50vw;
  height: 7vh;
  background: #fff;
  color: #222;
  font-weight: bold;
  font-size: 6vw;
}


.cartItem{
  width: 90vw;
  height: 15vh;
  position: relative;
  left: 2vw;
  margin-top: 5vh;
}

.thumbCart{
  width: 20vw;
  height: 13vh;
  position: absolute;
  left: 3vw;
  top:1vh;
}

.thumbCart img{
  position: relative;
  width:100%;
  max-height:100%;
}




.itemTitle{
  width: 35vw;
  position: absolute;
  left: 25vw;
  top:3vh;
  text-align: center;
}

.itemTitle h2{
  font-size: 8vw;
}

.itemTitle h3{
  color: #aaa;
  font-size: 4vw;
}

.itemPrice{
  position: absolute;
  right: 5vw;
  top: 3vh;
}

.itemPrice input{
  width: 12vw;
  border: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.totalItems{
  font-family: 'Jost', sans-serif;
  color: #fff;
  margin-top: 3vh;
  margin-left: 5vw;
  text-align: left;
}

.totalItemsPrice{
  font-family: 'Jost', sans-serif;
  color: #fff;
  margin-top: -5vh;
  margin-right: 5vw;
  text-align: right;
}

.formCart button{
  /* position: absolute; */
  width: 90vw;
  height: 7vh;
  left: 5vw;
  /* bottom:2vh; */
  margin-bottom: 2vh;
}

.errNone{
  display: none;
}

.errVisible{
  color: red;
  font-size: 5.5vw;
  position: absolute;
  top: 27vh;
  left: 10vw;
}

.faTimesCircle :hover{
  cursor:pointer;
}


@media (max-width: 600px) {
  .cartSection h1 {
    margin-top: 15vh;
  }
}







/*************** MEDIA QUERIES ****************/

@media (min-width: 992px) {
  .emptyCartBtn {
    background-color: transparent;
    color: white;
    font-size: 2vw;
    height: unset;
    border: none;
    width: unset;
  }
  .emptyCartBtn:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  .cartSection {
    position: unset;
    height: auto;
    width: auto;
    padding-top: 16vh;
  }
  .formCart {
    max-width: 50vw;
    display: block;
    margin: auto;
  }
  .cartItem {
    position: unset;
    height: unset;
    width: unset;
    margin-top: 5vh;
  }
  .cartItem .card-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
  }
  .thumbCart, .cartSection .itemTitle , .itemPrice {
    width: calc(100% / 3);
    position: unset;
  }
  .thumbCart img {
    max-height: 15vh;
    position: relative;
    width: auto;
  }
  .itemTitle h2 {
    font-size: 4vw;
    position: unset;
    color: #222;
  }
  .itemTitle h3 {
    color: #aaa;
    font-size: 2vw;
  }
  .itemPrice h2 {
    font-size: 2rem;
    position: unset;
    color: #222;
  }
  .itemPrice input {
    position: unset;
    background-color: white;
    border-bottom: 2px solid #222;
    border-radius: 0;
    font-size: 15px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: 0;
    text-align: center;
  }
  .cartSection .totalItems, .cartSection .totalItemsPrice {    
    color: white;
    position: unset;
    margin: 0;
  }
  .discountMSGCart {
    color: #118C4F;
    font-weight: bold;
  }
  .cartSection h2{
    color: #222;
  }
  .formCart button {
    height: unset;
    position: unset; 
    width: 15vw;
    font-size: 2vw;
  }
  .total-price-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 2px solid white;
    margin-top: 2rem;
  }
  .CartPage{
    background-color:#222;
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}