.CartPage{
  background-color:#222;
  width: 100vw;
  height: 100vh;
}

.cartSection{
  width: 100vw;
  height: 87vh;
  position: absolute;
  top:13vh;
  text-align: center;
}

.cartSection h1{
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem;
  color:#fff;
  margin-top: 5vh;
}

.cartItem{
  width: 90vw;
  position: relative;
  left: 5vw;
  margin-top: 5vh;
}

.thumbCart{
  width: 20vw;
  height: 10vh;
  position: relative;
  left: 0;
}

.thumbCart img{
  position: relative;
  width:100%;
  max-height:100%;
}
