.infoSection{
    width: 100vw;
    height: 100vh;
    background-color: #222;
}


.titleFormC{
    color: #6c757d;
    font-size: .875em;
    margin-top: .25rem;
    position: relative;
    bottom: 30vh;
    color: #fff;
}

.firstSectionC{
    text-align: left;
    position: relative;
    bottom: 28vh;
}

.btnFormC{
    background-color: #161616;
    border-color: #161616;
    height: 6vh;
    left: 20vw;
    position: relative;
    width: 40vw;
    bottom: 21vh;
}

.backIcon{
    position: absolute;
    left: 5vw;
    top:5vh;
    color: #fff;
}