.infoSection{
    width: 100vw;
    height: 100vh;
    background-color: #222;
}

.infoPage{
    overflow: hidden;
}

.titleFormC{
    color: #6c757d;
    font-size: .875em;
    margin-top: .25rem;
    position: relative;
    bottom: 30vh;
    color: #fff;
}

.firstSectionC{
    text-align: left;
    position: relative;
    bottom: 28vh;
}

.btnFormC{
    background-color: #161616;
    border-color: #161616;
    height: 6vh;
    left: 20vw;
    position: relative;
    width: 50vw;
    bottom: 21vh;
}

.backIcon{
    position: absolute;
    left: 5vw;
    top:5vh;
    color: #fff;
}

.formFields{
    position: relative;
    top: 40vh;
}

.changeinfos-title{
    margin-left: 15vw;
}

/********** MEDIA QUERIES ************/

@media (min-width: 992px) {
    .infoSection {
        width: 100%;
    }
    .formFields {
        position: unset;
        width: 30vw;
        display: block;
        margin: auto;
        margin-top: 0;
        padding-top: 17vh;
    }
    .backIcon {
        font-size: 4vw;
        top: 50vh;
        transform: translate(0, -50%);
    }
    .titleFormC {
        position: unset;
        text-align: center;
        margin-bottom: 1rem;
    }
    .firstSectionC {
        position: unset;
        max-width: 30vw;
    }
    .firstSectionC label {
        left: 0;
    }
    .btnFormC {
        position: unset;
        width: 50%;
        display: block;
        margin: 3rem auto 1rem auto;
    }
}