.infoSection{
    width: 100vw;
    min-height: 100vh;
    background-color: #222;
}

.pricesDiv {
    color: white;
}

.reportTitle {
    color: white;
    margin-bottom: 1rem;
}

.titleFormC{
    color: #6c757d;
    font-size: .875em;
    margin-top: .25rem;
    position: relative;
    /* bottom: 30vh; */
    color: #fff;
}

.firstSectionEditRental{
    text-align: left;
    position: relative;
    /* bottom: 28vh; */
    display: block;
    margin: auto;
}

.btnFormC{
    background-color: #161616;
    border-color: #161616;
    height: 6vh;
    /* left: 20vw; */
    position: relative;
    width: 40vw;
    /* bottom: 21vh; */
    display: block;
    margin: auto;
    margin-top: 2rem;
}
.btnFormC:hover {
    background-color: #161616;
}

.backIcon{
    position: absolute;
    left: 5vw;
    top:5vh;
    color: #fff;
}

.btn-broken {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #BF0603;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    display: block;
    margin: 1rem auto 0 auto;
    
}

.btn-broken:hover {
    animation: shake3856 0.3s linear infinite both;
    background: #BF0603!important;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-1px, 1px);
        transform: translate(-1px, 1px);
    }
    
    40% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
    }
    
    60% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }
    
    80% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.editRentalFields {
    margin-top: 30%;
}

@media (max-width: 992px) {
    .Infos-form {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .form-text {
        flex: 0 0 100%;
    }
    .edit-product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3rem;
        row-gap: 2rem;
    }
    .imgEditRental {
        width: 50%;
        height: auto;
        flex: 0 0 50%;
    }
    .form-group-wrapper {
        flex: 0 0 100%;
        text-align: center;
    }
    .reportTitle {
        color: white;
    }
    textarea {
        width: 80%;
        padding: 0.5rem;
    }
    textarea + label {
        left: 5%;    }
    .errorMSG {
        color: #BF0603;
        margin: 1rem 0 0 0;
        font-size: 1rem;
        flex: 0 0 100%;
        text-align: center;
    }
    .pricesDiv p {
        /* display: inline; */
        margin-bottom: 0.25rem;
    }
    .pricesDiv {
        color: white;
    }
    .discountsDiv {
        color: #118C4F;
        font-weight: bold;
        /* font-size: 1.5rem; */
    }
} 


/********** MEDIA QUERIES ************/

@media (min-width: 992px) {
    .infoSection {
        width: 100%;
    }
    .editRentalFields {
        padding-top: 17vh;
        margin-top: 0;
    }
    .backIcon {
        position: fixed;
        font-size: 4vw;
        top: 50vh;
        transform: translate(0, -50%);
    }
    .titleFormC {
        position: unset;
        text-align: center;
        margin-bottom: 1rem;
    }
    .firstSectionEditRental {
        position: unset;
    }
    .form-control{
        left: 0;
        width: 100%;
    }
    .selectProd {
        left: 0;
        width: 20%;
        margin: auto;
    }
    .btnFormC {
        position: unset;
        width: 40%;
        display: block;
        margin: 1rem auto 1rem auto;
    }
    .discountsDiv {
        color: #118C4F;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .edit-product-wrapper {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        align-items: center;
        justify-content: space-evenly;
    }
    .edit-rental-title {
        margin-left: 0;
    }
    .imgEditRental {
        display: block;
        max-width: 30%;
        height: auto;
        max-height: 350px;
    }
    .calendarSingleProd {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pricesDiv {
        color: white;
        text-align: center;
        margin-top: 3rem;
        font-size: 1.2rem;
        flex: 0 0 100%;
    }
    .parRentalPrice, .parProdPrice {
        margin-right: 2rem;
    }
    .pricesDiv p {
        display: inline;
    }
    .calendar > div {
        display: block;
        margin: auto;
        width: fit-content;
    }
    .date-picker input {
        max-width: 30%;
    }
    .reportTitle {
        color: white;
        margin-bottom: 1rem;
    }
    textarea {
        width: 100%;
        padding: 0.5rem;
    }
    .errorMSG {
        color: #BF0603;
        margin: 1rem 0 0 0;
        font-size: 1.1rem;
    }
}