
.joinImg{
  width: 100vw;
  position: relative;
  top:5vh;
  z-index: 0;
}

.formPage{
  overflow: hidden;
  background-color: #222;
  height: 100vh;
}

.divRot{
  width: 20vw;
  height: 100vh;
  position: relative;
  left: 10vw;
  bottom:48vh;
  background-color: #fff;
  transform: rotate(-80deg);
  z-index: 1;
}

.formContainer{
  width: 80vw;
  height: 55vh;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  position: absolute;
  top:40vh;
  left:10vw;
  border-radius: 10px;

}

.formFieldsSU{
  width: 80vw;
  height: 55vh;
  position: absolute;
  top:42vh;
  left:10vw;
}

.titleForm{
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  color: #222;
  position: relative;
  bottom: 6vh;
  left: 15vw;
  transform: rotate(9deg);
  z-index: 1;
  width: fit-content;
}

.form-control{
  width: 90%;
  position: relative;
  left: 5%;
}

.form-select{
  width: 90%;
  position: relative;
  left: 5%;
  border:none;
}

.form-select option{
  width: 90%;
  position: relative;
  background-color: #fff;
  color:#222;
}

.form-select option :hover{
  background-color: #222;
  color:#fff;
}


.form-label{
  color: #fff;
  position: relative;
  left: 5%;
  font-family: 'Jost', sans-serif;
}

.btnForm{
  width: 40vw;
  height: 6vh;
  background-color: #161616;
  border-color: #161616;
  position: relative;
  left: 20vw;
  margin-top: 3vh;
}

.messageError{
  position: absolute;
  color: red;
  left: 20vw;
}

.dNone{
  display:none;
}

.dBlock{
  display:block;
}

@media (min-width: 992px) {
  .formPage {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(https://i.pinimg.com/originals/bb/94/bf/bb94bfa0147a558bae038bb3477abd8e.jpg);
    background-size: cover;
  }
  .joinImg, .divRot, .formContainer {
    display: none;
  }
  .titleForm {
    background-image: url("img/note.png");
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -10rem;
    aspect-ratio: 1.04;
    width: 12rem;
  }
  .signup-title{
    transform: rotate(-9deg);
    padding-top: 3.5rem;
    padding-left: 0.5rem;
    color: #06514c;
    font-size: 2vw;
  }
  .fields-section{
    text-align: left;
  }
  .formFieldsSU {
    width: 25vw;
    height: 55vh;
    margin: auto;
    margin-top: 35vh;
    position: unset;
  }
  .form-label {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
  .signup-form {
    height: 100%;
    padding: 2rem;
    position: relative;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    background: #E85D75;
    border: 2px solid #06514c;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .btnForm{
    color: white;
    font-weight: bold;
    border: 2px solid #06514c;
    width: 6rem;
    height: unset;
    position: unset;
    display: block;
    margin: auto;
    margin-top: 3rem;
    background-color: transparent;
  }
  .btnForm:hover, .btnForm:active, .btnForm:focus {
    background-color: #06514c;
    border-color: #06514c;
    box-shadow: none;
  }
}