@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');



.Nav-container{
  width: 100vw;
  height: 13vh;
  background: #fff;
  box-shadow: 0px 5px 5px;
  position: fixed;
  z-index: 2;
}

.logoNav{
  width: 45vw;
  position: fixed;
  left:27.5vw;
  top:-2vh;
}

.MenuIcon{
  width: 30vw;
  height: 30vh;
}

.userIcon{
  margin-top: 8vh;
  margin-left: 45vw;
  color: #222;
  position: relative;
  z-index: 2;
}

.cartIcon{
  color: #222;
  margin-left: 65vw;
  margin-top: -1vh;
}

.hamburgerIcon{
  display: inline-block;
  color: #222;
  margin-right: 80vw;
  position: relative;
  z-index: 2;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  .userIcon{
    margin-top: 8vh;
    margin-left: 45vw;
    color: #222;
    position: relative;
    z-index: 2;
  }

  .cartIcon{
    color: #222;
    margin-left: 65vw;
    margin-top: -1vh;
  }

  .hamburgerIcon{
    display: inline-block;
    color: #222;
    margin-right: 80vw;
    position: relative;
    z-index: 2;
  }

  .nav-item{
    margin-top:-5vh !important;
  }



  .buttonLinks{
    font-weight: 600;
    font-size: 6vw;
  }
}

@media (max-width: 992px) {
  .menuToggle{
    position: absolute;
    top:-30vh;
    background-color: #fffe;
    text-align: left;
    border-radius: 100%;
    z-index: 3;
    transition:all 0.5s;
  }
  .menuToggle .nav-item{
    width: 80vw;
    height: 5vh;
  }
}

.menuToggle a{
  text-decoration: none;
  color:#222;
}

.menuToggleTwo{
  top:-20vh;
  background-color: #dddc;
  z-index: 2;
  transition:all 0.7s;
}
.menuToggleThree{
  top:-10vh;
  background-color: #ccca;
  z-index: 1;
  transition:all 0.9s;
}

.displayNone{
    width: 0;
    height: 0;
    padding-left: 0;
    right:  130vw;
}

.displayBlock{
  width: 120vh;
  height: 100vh;
  padding-left: 95vw;
  padding-top: 40vh;
  padding-bottom: 10vh;
  right:  -20vw;
}

.menuToggle .nav-item{
  width: 80vw;
  height: 12vh;
}

.timesIcon{
  position: relative;
  left: 70vw;
}

.buttonLinks {
  background-color: unset;
  border: 0;
}

@media (min-width: 992px) {
  .Nav-container{
    width: 100%;
    background: transparent;
    box-shadow: unset;
    position: fixed;
    z-index: 2;
  }
  .logoNav{
    width: 10rem;
    top: 0;
    left: auto;
  }
  .menuToggleTwo, .menuToggleThree{
    display: none;
  }
  .menuToggle > .nav-item:first-child, .menu-icons > .nav-item:nth-child(2) {
    display: none;
  }
  .menuToggle {
    gap: 40px;
    color: white;
  }
  .menuToggle .nav-item a, .menuToggle .nav-item h3 {
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 4px #222;
  }
  .displayNone {
    width: unset;
    height: unset;
  }
  .menu-icons {
    gap: 25px;
  }
  .userIcon, .cartIcon {
    color: white;
    position: unset;
  }
  .navbar-expand-lg {
    height: 100%;
  }
  .navbar-expand-lg > .container-fluid {
    align-items: center;
  }
  .scrolled-navbar {
    background-color: white;
    box-shadow: 0 10px 3px 0 rgba(0,0,0,.2);
  }
  .scrolled-navbar > .container-fluid > .navbar-nav > .nav-item > a > h3, .scrolled-navbar > .container-fluid > .navbar-nav > .nav-item > a > svg, .scrolled-navbar > .container-fluid > .navbar-nav > .nav-item > button {
    color: black;
    text-shadow: none;
  }
  .buttonLinks {
    color: white;
    font-size: 1.75rem;
    text-shadow: 3px 3px 4px #222;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}