@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

.Nav-container{
  width: 100vw;
  height: 13vh;
  background: #fff;
  box-shadow: 0px 5px 5px;
  position: fixed;
  z-index: 2;
}

.logoNav{
  width: 45vw;
  position: fixed;
  left:27.5vw;
  top:-2vh;
}
@media (min-width: 992px) {
  .logoNav{
    width: 10rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.MenuIcon{
  width: 30vw;
  height: 30vh;
}


.userIcon{
  position: relative;
  right: 15vw;
  top: 4vh;
  color: #222;
}

.cartIcon{
  position: relative;
  bottom: 4vh;
  right: 4vw;
  color: #222;
}

.hamburgerIcon{
  display: inline-block;
  position: relative;
  right: 80vw;
  color: #222;
}


.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}

.menuToggle{
  position: absolute;
  top:-30vh;
  background-color: #fffe;
  text-align: left;
  border-radius: 100%;
  z-index: 3;
  transition:all 0.5s;
}
.menuToggleTwo{
  top:-20vh;
  background-color: #dddc;
  z-index: 2;
  transition:all 0.7s;
}
.menuToggleThree{
  top:-10vh;
  background-color: #ccca;
  z-index: 1;
  transition:all 0.9s;
}

.displayNone{
    width: 0;
    height: 0;
    padding-left: 0;
    right:  130vw;
}

.displayBlock{
  width: 120vh;
  height: 100vh;
  padding-left: 150vw;
  padding-top: 35vh;
  padding-bottom: 10vh;
  right:  -20vw;
}

.menuToggle .nav-item{
  width: 80vw;
  height: 5vh;
}

.timesIcon{
  position: relative;
  left: 70vw;
}
