.areaSection{
    width:100vw;
    height:180vh;
    background-color: #222;
}

.personalTitle{
    position: relative;
    top: 20vh;
    color: #fff;
    font-size: 7vw;
    left: 10vw;
}

.imgPersonalArea{
    width: 30vw;
    height: 30vw;
    position: relative;
    top: 23vh;
    left: 10vw;
    border-radius: 100%;
}

.Infos{
    position: relative;
    color: #fff;
    font-size: 6vw;
    top:10vh;
    left: 50vw;
}

.logoutIcon{
    position: relative;
    left: 85vw;
    top: 16vh;
    color: #fff;
}


.btnChangeInfo{
    background-color: #fff;
    border-color: #222;
    color:#222;
    position: relative;
    left:50vw;
    width: 40vw;
    height: 7vh;
    top:15vh;
    font-weight: bold;
}


.list-group-flush .list-group-item{
    height: 4vh;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.swiperAreaFuture,.swiperAreaPast{
    position: relative;
    top:22vh;
}

.swiperAreaFuture .swiper-slide{
    width: 65vw;
}

.swiperAreaPast .swiper-slide{
    width: 65vw;
}

.privateArea{
    overflow: hidden;
}

/******************** MEDIA QUERIES **************************/

@media (min-width: 992px) {
    .areaSection {
        background-color: #7bd2d5;
        width: 100%;
        height: unset;
        min-height: 100vh;
    }
    .personalTitle {
        position: unset;
    }
    .personalTitle:nth-child(3) {
        margin-top: 0!important;
    }
    .imgPersonalArea {
        position: unset;
        max-height: 8vh;
        width: auto;
        aspect-ratio: 1;
        object-fit: scale-down;
    }
    .Infos {
        position: unset;
        color: #222;
       font-size: 2vw; 
       margin-left: 1.5vw;
    }
    .desktop-fixed-client-wrapper > .personalTitle {
        color: #222;
        font-size: 2.5vw;
    }
    .desktop-fixed-client-wrapper {
        position: fixed;
        width: 20vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        top: 50%;
        padding: 7vh 0 7vh 1vw;
        left: 0;
        transform: translate(0, -50%);
        background: white;
        row-gap: 5vh;
        border-radius: 0 50px 50px 0
    }
    .desktop-rental-wrapper {
        margin-left: 20vw;
        padding: 15vh 5vw 0 5vw;
    }
    .desktop-rental-wrapper > .personalTitle {
        font-size: 5vw;
        text-shadow: 5px 5px 4px #222;
    }
    .rental-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 18rem);
        grid-gap: 3rem;
        justify-content: space-between;
        padding: 3rem 0 3rem 0;
        min-height: 50vh;
    }
    .btnChangeInfo {
        position: unset;
        height: 5vh;
        width: 7vw;
    }
    .card-img-top {
        max-height: 22vh;
        object-fit: cover;
    }
    .empty-rental {
        color: white;
        font-size: 1.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rental-wrapper .swiper {
        display: none;
    }
    .product-remove-button {
        background-color: transparent;
        border-color: #BF0603;
        color: #BF0603;
        border: 2px solid #BF0603;
        margin-left: 1rem;
    }
    .product-button, .product-remove-button, .invoice-button {
        margin-top: 0.5rem;
    }
    .product-button, .product-button:active, .product-button:focus, .product-button:hover, .product-button:disabled {
        background: #06514c;
        box-shadow: #06514c 0 10px 20px -10px;
    }
    .product-remove-button, .product-remove-button:active, .product-remove-button:focus, .product-remove-button:hover, .product-remove-button:disabled {
        background: #BF0603;
        box-shadow: #BF0603 0 10px 20px -10px;
    }
    .invoice-button, .invoice-button:active, .invoice-button:focus, .invoice-button:hover, .invoice-button:disabled {
        background: #352208;
        box-shadow: #352208 0 10px 20px -10px;
    }
    .product-button, .invoice-button, .product-remove-button {
        border-radius: 999px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
    }
    .edit-rental-data {
        display: none;
        padding: 1rem;
    }
    .edit-rental-data > form > * {
        left: 0;
    }
    .edit-rental-data label {
        color: #222;
    }
    .edit-rental-data input {
        width: 100%;
    }
}