.areaSection{
    width:100vw;
    height:100vh;
    background-color: #222;
}

.personalTitle{
    position: relative;
    top: 20vh;
    color: #fff;
    font-size: 7vw;
    left: 10vw;
}

.imgPersonalArea{
    width: 30vw;
    height: 30vw;
    position: relative;
    top: 23vh;
    left: 10vw;
    border-radius: 100%;
}

.Infos{
    position: relative;
    color: #fff;
    font-size: 6vw;
    top:10vh;
    left: 50vw;
}