.areaSection{
    width:100vw;
    height:100vh;
    background-color: #222;
}

.personalTitle{
    position: relative;
    top: 20vh;
    color: #fff;
    font-size: 7vw;
    left: 10vw;
}

.imgPersonalArea{
    width: 30vw;
    height: 30vw;
    position: relative;
    top: 23vh;
    left: 10vw;
    border-radius: 100%;
}

.Infos{
    position: relative;
    color: #fff;
    font-size: 6vw;
    top:10vh;
    left: 50vw;
}

.logoutIcon{
    position: relative;
    left: 85vw;
    top: 16vh;
    color: #fff;
}

/******************** MEDIA QUERIES **************************/

@media (min-width: 992px) {
    .areaSection {
        background-color: cadetblue;
        width: 100%;
    }
    .personalTitle {
        position: unset;
    }
    .imgPersonalArea {
        position: unset;
        max-height: 8vh;
        width: auto;
        aspect-ratio: 1;
    }
    .Infos {
        position: unset;
        color: black;
       font-size: 2vw; 
       margin-left: 1.5vw;
    }
    .desktop-fixed-client-wrapper > .personalTitle {
        color: black;
        font-size: 2.5vw;
    }
    .desktop-fixed-client-wrapper {
        position: fixed;
        width: 20vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        top: 50%;
        padding: 7vh 0 7vh 1vw;
        left: 0;
        transform: translate(0, -50%);
        background: white;
        row-gap: 5vh;
        border-radius: 0 50px 50px 0
    }
    .desktop-rental-wrapper {
        margin-left: 22vw;
        padding-top: 15vh;
    }
    .desktop-rental-wrapper > .personalTitle {
        font-size: 5vw;
    }
}