.productsImg{
    width: 100vw;
    height: 60vh;
    position: relative;
    z-index: 0;
}

.productSinglePage{
  background-color: #222;
  width: 100vw;
  height: 100vh;
}

.productDesc{
  width: 100vw;
  height: 85vh;
  position: relative;
  bottom: 10vh;
  z-index: 1;
  background: #222;
  border-radius: 50px 50px 0 0;
  padding-right: 15vw;
  
}

.productDesc h2{
  color: #fff;
  font-size: 3rem;
  font-family: 'Jost', sans-serif;
  position: relative;
  top: 5vh;
  left: 10vw;
}

.productDesc h4{
  color: #fff;
  font-size:1rem;
  font-family: 'Jost', sans-serif;
  position: relative;
  bottom: 2vh;
  left: 75vw;
}
.productDesc h4 span{
  font-size:2rem;
}

.productDesc h3{
  color: #fff;
  font-size:1.5rem;
  font-family: 'Jost', sans-serif;
  position: relative;
  top: 3vh;
  left: 10vw;
}

.btnCart{
  background-color: #222;
  border-color: #fff;
  color:#fff;
  position: relative;
  left:10vw;
  width: 40vw;
  top:20vh;
}

.btnBuy{
  background-color: #fff;
  border-color: #222;
  color:#222;
  border-color: #222;
  position: relative;
  left: 15vw;
  width: 35vw;
  top: 20vh;
}

.arrowIcon{
  font-size: 2rem;
  z-index: 2;
  color:#fff;
  position: absolute;
  top: 2vh;
  left: 5vw;
}


.calendar{
  position: relative;
  top:20vh;
  left:20vw;
}

.swiperP{
  text-align: right;
  font-size: 10vw !important;
  padding-top: 55%;
  padding-right: 5%;
  font-weight: bold;
  color: #935a14;
  text-shadow: 2px 2px 5px #fff;
}


.suggNone{
  display:none;
}

.suggBlock{
  display: block;
}

/******************** MEDIA QUERIES **************************/

@media (min-width: 992px) {
  .arrowIcon {
    font-size: 4vw;
    top: calc(13vh + 87vh/2);
    transform: translate(0, -50%);
  }
  .product-wrapper {
    width: 100%;
    height: 100vh;
    padding-top: 13vh;
  }
  .product-wrapper > div {
    display: flex;
    align-items: center;
  }
  .calendar {
    position: unset;
  }
  .img-col {
    padding-right: 3vw;
    justify-content: end;
  }
  .desc-col {
    padding-left: 3vw;
    justify-content: start;
  }
  .productsImg {
    width: auto;
    max-width: 30vw;
    border: 2px solid white;
    border-radius: 50px;
  }
  .productName, .priceTit {
    display: inline-block;
  }
  .priceTit {
    float: right;
    transform: translate(0, 10px);
  }
  .productDesc {
    width: unset;
    min-width: 30vw;
    height: unset;
    position: unset;
    padding-right: 0;
    padding: 2vw 2.5vw;
    border: 2px solid white;
    border-radius: 50px;
  }
  .productDesc h2, .productDesc h4, .productDesc h3 { position: unset; }
  .btnCart, .btnBuy {
    position: unset;
    width: unset;
    display: inline-block;
  }
  .productDescription {
    white-space: pre-wrap;
  }
  .btnCart { margin-top: 1.5rem; }
  .btnBuy { margin-top: 1.5rem; margin-left: 1rem; }
}